.pets1 {
    float: left; 
    width: 30%;
    background-color: yellow;
    

}

.pets2 {
    display: inline-block; 
    width: 30%;
    background-color: white; 
    
}

.pets1 p a {
  font-style: italic;
  font-weight: bold;
}

.pets2 p a {
  font-style: italic;
  font-weight: bold;
}

.pets3 p a {
  font-style: italic;
  font-weight: bold;
}

.pets3 {
    float: right;
    width: 30%;
    background-color: yellow;
    border: lightgrey;
   

}
h1 {
    float: center; 
    font-size: 35px
}
img {
    border: lightgrey;
    margin: 5px;
    padding: 10px;
    height: auto; 
    width: 15%;
}

.pets img {
    border: lightgrey;
    height: auto; 
    width: auto;
    border: 5px solid red;
    border-radius: 25px;
}

   .column {
    float: center; 
    font-size: 35px;
}
.pets2 img {
    border: lightgrey;
}.column {
    float: center; 
    font-size: 35px;
}
.pets3 img {
    border: lightgrey;
    margin:10px

